<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckc_backer.modules.order.mapper.OrderMapper">
	<!-- User findByUsername(String username) -->

	<resultMap type="com.jckc_backer.modules.order.entity.OrderEntity" id="orderMap">
		<result property="id" column="id"/>
		<result property="status" column="status"/>
		<result property="orderOn" column="order_on"/>
		<result property="actualPrice" column="actual_price"/>
		<result property="goodsPrice" column="goods_price"/>
		<result property="remark" column="remark"/>
		<result property="orderId" column="order_id"></result>
		<result property="linkMan" column="link_man"/>
		<result property="mobile" column="mobile"/>
		<result property="name" column="name"/>
		<result property="minPrice" column="min_price"/>
		<result property="pic" column="pic"/>
		<result property="number" column="number"/>
		<result property="logisticsCompany" column="logistics_company"/>
		<result property="logisticsOrderOn" column="logistics_order_on"/>
		<result property="specification" column="specification"/>
		<result property="address" column="address"/>
		<result property="provinceStr" column="province_str"/>
		<result property="cityStr" column="city_str"/>
		<result property="districtStr" column="district_str"/>
		<result property="code" column="code"/>
		<result property="payId" column="pay_id"/>
		<result property="createTime" column="create_time"/>
	</resultMap>

	<!--<resultMap type="com.jckc_backer.modules.order.entity.OrderDetailEntity" id="orderDetailMap">
		<result property="address" column="address"/>
		<result property="provinceStr" column="province_str"/>
		<result property="cityStr" column="city_str"/>
		<result property="districtStr" column="district_str"/>
		<result property="code" column="code"/>
		<result property="payId" column="pay_id"/>
	</resultMap>-->

	<select id="getOrderList" resultMap="orderMap">
        SELECT b.id,a.status,a.order_on,a.actual_price,a.goods_price,b.order_id,
        d.link_man,d.mobile,c.name,c.min_price,c.pic,b.number,b.specification,a.remark,a.create_time,
        d.address, d.province_str,d.city_str,d.district_str,d.code,a.pay_id,b.logistics_order_on,b.logistics_company
        FROM order_user a LEFT JOIN order_goods b ON a.id = b.order_id
		LEFT JOIN shop c ON b.goods_id = c.id
		LEFT JOIN address d ON a.address_id = d.id
        ORDER BY a.create_time DESC
    </select>

	<select id="searchOrderList"  resultMap="orderMap">
        SELECT b.id,a.status,a.order_on,a.actual_price,a.goods_price,b.order_id,
		d.link_man,d.mobile,c.name,c.min_price,c.pic,b.number,b.specification,a.remark,a.create_time,
		d.address, d.province_str,d.city_str,d.district_str,d.code,a.pay_id,b.logistics_order_on,b.logistics_company
		FROM order_user a LEFT JOIN order_goods b ON a.id = b.order_id
		LEFT JOIN shop c ON b.goods_id = c.id
		LEFT JOIN address d ON a.address_id = d.id
        WHERE 1=1
        <if test="searchName != null">
			AND a.order_on LIKE '%${searchName}%'
		</if>
		<if test="searchName != null">
			OR d.link_man LIKE '%${searchName}%'
		</if>
        ORDER BY a.create_time DESC
    </select>

	<!--<select id="getOrderDetailList" parameterType="Integer" resultMap="orderDetailMap">
		SELECT b.address, b.province_str,b.city_str,b.district_str,b.code,a.pay_id
		FROM  order_user a
        LEFT JOIN address b ON a.address_id = b.id
		WHERE a.id = #{id}
	</select>-->

	<update id="updateOrderGoods">
		UPDATE order_goods SET logistics_company = #{logisticsCompany}, logistics_order_on = #{logisticsOrderOn}
		WHERE id = #{id}
	</update>

</mapper>
